
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);
    --background-color: #111111;
    --primay-color: #fbad18;
    --secondary-color: #efeeee;
    
}







* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;}

body, html {
    /* width: 100vw; */
    /* background: #010822; */
    background: var(--background-color);
    overflow-x: hidden;
    color: var(--secondary-color);
    font-family: sans-serif;
    line-height: 1.15;

}

header {
    position: relative;
    width: 100%;

    z-index: 2;
}

.btn {
    border: 2px solid var(--primay-color);
    background: transparent;
    font-weight: bolder;
    color: var(--secondary-color);
    cursor: pointer;
padding: 0.5rem;
}

h1 {
    color: var(--primay-color) !important;
    /* text-shadow: 0px 1px 25px var(--primay-color); */
}


/* Header */
.navbar {
    position: fixed;
    background: rgba(0, 0, 0, 0.558);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    backdrop-filter: blur(10px);

}

.navbar .left .logo {
    margin: 1rem;
    border-radius: 50%;
    background-color: var(--secondary-color);
    width: 50px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0px 0px 20px 0px rgba(240, 240, 253, 0.687);
}

.navbar .left {
    display: flex;
    align-items: center;
}

.navbar .right {
    padding-right: 1rem;
}

.navbar .right button {

    border: 2px solid var(--primay-color);
    background: transparent;
    font-weight: bolder;
    color: var(--secondary-color);
    cursor: pointer;
    margin-right: 1rem;
}




/* main section slider */

.section-card-slider {
    /* background-color: #080808; */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5rem;
    padding: 1rem;
}

.section-card-slider h1 {

    text-align: center;
    font-weight: bold;
    padding-bottom: 2rem;
}

.section-card-slider nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
    margin-bottom: 2rem;
    width: fit-content;
    padding: 1rem;
}


.live-btn , .recent-btn , .upcoming-btn{
    padding: 0.3rem;
    width: 5rem;
    text-align: center;
    border-radius: 0px;
    padding: 0.5rem;
    /* transform: skewX(-20deg); */
    
}


.active-live, .live-btn:hover {
    border:2px solid green ;
    color: var(--secondary-color);
    font-weight: bolder;
}

.active-recent ,.recent-btn:hover {
    border: 2px solid red;
    color: var(--secondary-color);
    font-weight: bolder;
}

.active-upcoming, .upcoming-btn:hover {
    border: 2px solid blue;
    color: var(--secondary-color);
    font-weight: bolder;
}

.cards{
  margin: auto;
  width: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
    /* padding: 1rem 0; */
}
.swiper a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--background-color);
    text-transform: capitalize;
}

.swiper a button{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
}


.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    margin-top: 1rem;
}

.score-card-frame {
    height: 100%;
    width: 100%;
    padding: 1rem;
    background: var(--secondary-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-card-frame1 {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.score-card {
    width: 100%;


}

.match-status {
    margin-top: 15px;
    text-align: center;
}

.score-title {
    text-align: center;
}

.score-board {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(2px);
}

.dot-left, .dot-right {
    height: 65px;
    width: 65px;
    background-color: transparent;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
}

.dot-left img, .dot-right img {
width: 100%;
height: 100%;
}



.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}

.mid-dot {
  height: 60px;
    width: 60px;
    display: inline-block;
    overflow: hidden;
}
.mid-dot img{
  width: 100%;
  height: 100%;
}
.team-left,
.team-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

/* .team-right-flag,
.team-left-flag {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.team-mid-flag {
    height: 100%;
    width: 100%;
    object-fit: cover;
} */

.team-score {
    gap: 5px;
}

.team-left .team-score{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;


}
.team-right .team-score{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;


}

.team-name {
    font-weight: bolder;
    font-size: medium;
}

.team-runs {
    font-weight: bold;
    font-size: 10px;
}

.team-overs {
    font-weight: bold;
    font-size: 10px;
}

#live .match-status {
    color: green;
    font-weight: bolder;
}

#recent .match-status {
    color: red;
    font-weight: bolder;
}

#upcoming .match-status {
    color: blue;
    font-weight: bolder;
}

.wrapper {
  max-width: 1400px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 120%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -2px;
}
.wrapper i:last-child{
  right: -2px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #8B53FF;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.swiper-wrapper h2{
  text-align: center;
  padding: 1rem;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}



/* News */
.example__slider .bx-wrapper{
    background: #080808;
    border: none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

.news-add-parent-conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    
}

.news-card-container1 {
    display: flex;
    /* width: 1040px; */
    justify-content: space-around;
    flex-wrap: wrap;
}
.container {
    display: flex;
    width: 1040px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: var(--primary-color);
  }
  .card {
    margin: 10px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
  }
  .card-header{
      position: relative;
    }
    .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;

  }
  .news-title{
      position: absolute;
      left: 1rem;
      top: 80%;
      text-transform: uppercase;
      color: var(--primay-color);
      font-weight: bolder;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    
  }
  
  
  .card-body p {
    font-size: 13px;
    margin: 1rem 0;

  }


  /* offers */

  .add-main-section-body{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    gap: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    margin: 1rem;
   
  }
  .add-main-section{
    width: 460px;
  }
  .secion1-ads {
  
    display: flex;
  }
  .secion1-ads-child1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    padding: 1rem;
  }
  .secion1-ads-child2 {
    padding: 1rem;
    background: rgb(23, 28, 23);
  }
  .get_offers {
    text-align: center;
    background: #ff710b;
  }
  .ads-discription{
    font-weight: 100;
    background: #000;
    font-size: 12px;
    padding: 1rem;
    word-break: break-all;
  }

  .offer-logo{
    width: 65px;
  }
  .offer-logo img{
    width: 100%;
  }
  @media (max-screen:800px) {
    .add-main-section-body{
      margin: 0px;
    }
  }



/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .recent, .live, .upcoming {
        width: 320px;
    }

    .score-card-frame,
    .score-card-frame1 {
        width: 100%;
        max-width: none;
    }

    .score-card {
        height: auto;
        width: 100%;
    }

    .team-name {
        font-size: small;
    }

    .promtion-add-container {
        width: 95%;
        font-size: 10px;
    }

    .faqs {
        width: 100%;
        font-size: 12px;

    }

    .faqs h4 {
        font-size: 12px;
    }
}




/* FAQ */

.container-accordian{
    margin-top: 5rem;
    margin: 0 auto;
    width: 60%;
  }
  .container-accordian h2{
    text-align: center;
    padding: 1rem;
  }
  @media (max-width : 800px) {
    .container-accordian{
        width: 90%;
      }
  }
  
  .accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2;
  }
  
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #03b5d2;
  }
  
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #03b5d2;
    border: 1px solid #03b5d2;
  }
  
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  
  .accordion button[aria-expanded='true'] {
    color: #03b5d2;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
  
  
  
  


/* footer */

.footer-foot {
    margin-top: 5rem;
	background-color: #151515;
	padding: 80px 0;
}

.container-foot{
	max-width: 1170px;
	margin: auto;
}

.row-foot {
	display: flex;
	flex-wrap: wrap;
}

ul {
	list-style: none;
}

.footer-col-foot {
	width: 25%;
	padding: 0 15px;
}

.footer-col-foot h4 {
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col-foot h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #E91E63;
	width: 50px;
	height: 2px;
}

.footer-col-foot ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-col-foot ul li a {
	color: #DDD;
	display: block;
	font-size: 1rem;
	font-weight: 300;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s ease;
}

.footer-col-foot ul li a:hover {
	color: #FFF;
	padding-left: 7px;
}

.footer-col-foot .social-links-foot a {
	color: #FFF;
	background-color: rgba(255, 255, 255, 0.2);
	display: inline-block;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	text-align: center;
	margin: 0 10px 10px 0;
	line-height: 40px;
	transition: all 0.5s ease;
}

.footer-col-foot .social-links-foot a:hover {
	color: #151515;
	background-color: #FFF;
}

@media(max-width: 767px) {
	.footer-col-foot {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col-foot {
		width: 100%;
	}
}



